.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationClient.AuthenticationCompleteListener.html
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationClient.html
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationHandler.OnCompleteListener.html
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationHandler.html
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationRequest.Builder.html
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationRequest.html
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationResponse.Builder.html
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationResponse.Type.html
app/libs/doc/com/spotify/sdk/android/authentication/AuthenticationService.html
app/libs/doc/com/spotify/sdk/android/authentication/LoginDialog.CompleteListener.html
app/libs/doc/com/spotify/sdk/android/authentication/LoginDialog.html
app/libs/doc/com/spotify/sdk/android/authentication/LoginService.html
app/libs/doc/com/spotify/sdk/android/authentication/SpotifyAuthentication.AuthenticationCompleteCallback.html
app/libs/doc/com/spotify/sdk/android/authentication/SpotifyAuthentication.CompleteCallback.html
app/libs/doc/com/spotify/sdk/android/authentication/SpotifyAuthentication.QueryParams.html
app/libs/doc/com/spotify/sdk/android/playback/AudioController.html
app/libs/doc/com/spotify/sdk/android/playback/AudioTrackController.html
app/libs/doc/com/spotify/sdk/android/playback/PlaybackBitrate.html
app/libs/doc/com/spotify/sdk/android/playback/Player.Builder.html
app/libs/doc/com/spotify/sdk/android/playback/Player.Callback.html
app/libs/doc/com/spotify/sdk/android/playback/Player.Creator.html
app/libs/doc/com/spotify/sdk/android/playback/Player.Options.html
app/libs/examples/